<!DOCTYPE html>
<html lang="en" data-layout="./@@page-site-layout">
<body>

<div data-panel="content">
  <div style="display: block; float: left; position: relative; width: 100%;" class="deco-row">
    <div style="float: left; left: 100%; position: relative; margin-left: -100.00000%; width: 33.333333%; min-height: 50px;" class="deco-column">
    </div>
    <div style="float: left; left: 100%; position: relative; margin-left: -66.666666%; width: 33.333333%; min-height: 50px;" class="deco-column">
    </div>
    <div style="float: left; left: 100%; position: relative; margin-left: -33.333333%; width: 33.333333%; min-height: 50px;" class="deco-column">
    </div>
    </div>
  </div>
</div>

</body>
</html>
