<div data-panel="content">
  <div class="deco-grid-row">
    <div class="deco-grid-cell deco-width-full deco-position-leftmost">
      <div class="deco-tile deco-plone.app.deco.title-tile movable">
        <div class="deco-tile-content">
          <div data-tile="./@@plone.app.deco.title"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="deco-grid-row">
    <div class="deco-grid-cell deco-width-full deco-position-leftmost">
      <div class="movable removable deco-tile deco-plone.app.deco.description-tile">
        <div class="deco-tile-content">
          <div data-tile="./@@plone.app.deco.description"></div>
        </div>
      </div>
    </div>
  </div>
</div>
